# Byte-compiled / cached
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
*.egg-info/
dist/
build/

# Logs and debug files
*.log
*.out
*.err

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# SQLite database
*.sqlite3
*.db
*.sqlite

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/
*.swp
*.swo
*.bak

# Pip and package files
Pipfile
Pipfile.lock

crash_logs.swift